.link-reddit {
    color: #292929;
    text-decoration: none;
}

.link-subreddit {
    color: #dd3038;
}

.container-little-box {
    background-color: #FFFFFF;
    border: 1px dotted blue;
}

.container-text {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h6 {
    display: flex;
    justify-content: center;
}
